<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>-->
  <connectionStrings>
    <add name="ERPConnectionString" connectionString="Data Source=localhost;Initial Catalog=costing;Integrated Security=True" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
  <appSettings>
    <add key="PaymentSourceDirectoryPath" value="C:\Users\SAHIL\Desktop\Txt Files"/>
    <add key="PaymentDestinationDirectoryPath" value="D:\CostSolution\Files\Payment"/>
    <add key="AseanSalesSourceDirectoryPath" value="C:\Users\SAHIL\Desktop\Txt Files\Sales"/>
    <add key="AseanSalesDestinationDirectoryPath" value="D:\CostSolution\Files\Sales"/>
    <add key="RetrieveEmailQuery" value="select GD.CommGroupDtlId,GD.CommGroupId,GD.ToCC,GD.EmailId,Phone,CommGroupName from  CommGroupDetails as GD left join CommGroupMaster as GM on gd.CommGroupId=GM.CommGroupId where GM.CommGroupName='{0}'"/>
    <add key="EmailServerName" value="SMTP-CUL.averydennison.net"/>
  </appSettings>
  <!--<configSections >
    <sectionGroup name="Payment">
      <section name="SourceDirPath" value=""/>
    </sectionGroup>
  </configSections>-->
<!--<startup><supportedRuntime version="v2.0.50727"/></startup>-->
</configuration>
