<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="ERPConnectionString" connectionString="Data Source=localhost;Initial Catalog=costing;Integrated Security=True" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <appSettings>
    <add key="SourceDirectoryPath" value="C:\Users\SAHIL\Desktop\Txt Files"/>
    <add key="DestinationDirectoryPath" value="D:\CostSolution\Files\Payment"/>
  </appSettings>
  <!--<configSections >
    <sectionGroup name="Payment">
      <section name="SourceDirPath" type="" value=""/>
    </sectionGroup>
  </configSections>-->
</configuration>
